# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Firebase
functions/lib
functions/node_modules
.firebase
firebase-debug.log
firebase-debug.*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env.local
.env
.env.production
.env.development
.env.*.local
# Csak sablon commitolható, értékek nélkül:
# .env.example
# Local Netlify folder
.netlify
